@import '../../../style/_variables';

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #DDE3E9;

  &__big {
    display: block;
    margin: auto 20px;

    @media screen and (max-width: $xs-screen) {
      display: none;
    }
  }

  &__small {
    display: none;
    margin: auto 8px;

    @media screen and (max-width: $xs-screen) {
      display: block;
    }
  }

  p {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6F6F6F;
    margin-left: 21.65px;
  }
}
