
.buttons {
  display: flex;
  flex-wrap: nowrap;

  &-next,
  &-prev {
    width: 23px;
    height: 23px;
    padding: 3px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}