$xxs-screen: 576px;
$xs-screen: 768px;
$sm-screen: 992px;
$md-screen: 1200px;
$lg-screen: 1600px;

$border-color: #B9B9B9;
$border-chart-color: #EDF1F4;
$box-shadow: 0 4px 5px rgba(0, 0, 0, 0.04);

//font-style: normal;
//font-weight: 600;
//font-size: 15px;
//line-height: 18px;
//letter-spacing: 0.1em;
//text-transform: uppercase;
//color: #6F6F6F;

$font-title-: "wght" 600;